<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Let's Make a Madlib!</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  </head>
  <body>
    <h1>THE MAGIC COMPUTERS</h1>
    <p>Today, every student has a computer small enough to fit into their</p>
    <p>@Model.Noun. They can solve any math problem by simply</p>
    <p>pushing the computer's little @Model.PluralNoun. Computers</p>
    <p>can add, multiply, divide, and @Model.PresentTenseVerb. They</p>
    <p>can also @Model.PresentTenseVerbTwo better than a human. Some com-</p>
    <p>puters are @Model.PartOfBody. Others have a/an</p>
    <p>@Model.Adjective screen that shows all kinds of @Model.PluralNounTwo</p>
    <p>and @Model.AdjectiveTwo figures.</p>
    <br>
    <form action="/" method="post">
      <button type="submit">Go Home</button>
    </form>
  </body>
</html>