<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Let's Make a Madlib!</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  </head>
  <body>
    <h1>LOCAL DJ</h1>
    <p>Growing up on an eclectic diet of @Model.Genre and @Model.GenreTwo provided by</p>
    <p>their parent's record collection. @Model.Food is hard to pin down musically.</p>
    <p>Inspired by their family's love of music, @Model.Food took up the</p>
    <p> @Model.Instrument at the age of @Model.Number. It was only a few years later that</p>
    <p>@Model.Food discovered late night tencho parties and the @Model.Adjective</p>
    <p>rhythems of @Model.Onomatopeia. @Model.Food promptly sold their @Model.Instrument</p>
    <p> and purchased a @Model.Noun and began performing at local house</p>
    <p>parties, basements and abandoned warehouses.</p>
    <br>
    <form action="/" method="post">
      <button type="submit">Go Home</button>
    </form>
  </body>
</html>