<h1>THE MAGIC COMPUTERS</h1>
<p>Today, every student has a computer small enough to fit into their</p>
<p>@Model.noun. They can solve any math problem by simply</p>
<p>pushing the computer's little @Model.pluralNoun. Computers</p>
<p>can add, multiply, divide, and @Model.verb. They</p>
<p>can also @Model.verbTwo better than a human. Some com-</p>
<p>puters are @Model.partOfBody. Others have a/an</p>
<p>@Model.adjective screen that shows all kinds of @Model.pluralNounTwo</p>
<p>and @Model.adjectiveTwo figures.</p>