<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Let's Make a Madlib!</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  </head>
  <body>
    <h1>Nickelodeon Cartoons</h1>
    <p>Only @Model.Number minutes left till the school @Model.Noun rings,</p>
    <p>and when it does, I'm so out of here! It's impossible to @Model.Verb on</p>
    <p>algebra when I could be home watching shows like The @Model.Adjective</p>
    <p> Thornberrys on @Model.FirstName -toons. Seriously, right now the</p>
    <p>only thing standing between me, @Model.Exclamation Arnold!</p>
    <p>and an ice-@Model.AdjectiveTwo juice @Model.TypeOfContainer is math!</p>
    <p>O-M-@Model.LetterOfAlphabet! What if my older sister @Model.PersonInRoom</p>
    <p>makes it home before I do? She'll totally @Model.VerbTwo the remote,</p>
    <p>and I'd rather eat my own @Model.ArticleOfClothing than miss an</p>
    <p>episode of Ren & @Model.SillyWord or the @Model.AdjectiveThree Beavers.</p>
    <p>And does she actually think she can just @Model.VerbThree my</p>
    <p>Fruit by the @Model.PartOfBody and keep me from watching</p>
    <p>@Model.Vehicle Power? As if! She may be bossy like Angelica</p>
    <p>from the Rug-@Model.Animal, but I've got Mom's number on speed dial!</p>
    <br>
    <form action="/" method="post">
      <button type="submit">Go Home</button>
    </form>
  </body>
</html>